/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: scroll;
  background-color: #A6A2A2;
  // background-image: url('assets/wp2491895.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
